// Default variable overrides
$primary: #fdc000;
$container-max-widths: (
  sm: 540px,
  md: 704px,
  lg: 924px,
  xl: 1140px,
  xxl: 1364px,
);
// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
// $theme-colors: (
//   "primary": #fdc000,
//   "secondary": $secondary,
//   "success": $success,
//   "info": $info,
//   "warning": $warning,
//   "danger": $danger,
//   "light": $light,
//   "dark": $dark,
// );
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}
